#subtitle {
    font-family: DM Sans Medium, sans-serif;
}

.flex-center {
    position: relative;
}

.topquotes {
    position: absolute;
    right: 20%;
    top: 70%;
    color: white;
    font-size: 90%;
    /* line-height: 90%; */
    opacity: 0;
    /* 初始状态透明 */
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
    /* 3秒后执行动画 */
}

@keyframes fadeIn {
    to {
        opacity: 1;
        /* 最终状态完全显示 */
    }
}