@font-face {
    font-family: 'Archia Regular';
    font-display: swap;
    src: url('../font/archia-regular-webfont.woff') format("woff");
}

@font-face {
    font-family: 'DM Sans Medium';
    font-display: swap;
    src: url('../font/DMSans-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'DM Sans Regular';
    font-display: swap;
    src: url('../font/DMSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Rethink Sans Regular';
    font-display: swap;
    font-style: normal;
    src: url('../font/RethinkSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Rethink Sans Regular';
    font-display: swap;
    font-style: italic;
    src: url('../font/RethinkSans-Italic.ttf') format("truetype");
}

@font-face {
    font-family: 'Rethink Sans Medium';
    font-display: swap;
    font-style: normal;
    src: url('../font/RethinkSans-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Rethink Sans Medium';
    font-display: swap;
    font-style: italic;
    src: url('../font/RethinkSans-MediumItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-display: swap;
    font-style: italic;
    src: url('../font/HarmonyOS_Sans_SC_Regular.ttf') format("truetype");
}